@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2e323c;
  background: #f5f6fa;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color:#7cbefe;
  cursor: pointer;
  padding: 0.5rem;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}

.pagination {
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0d6efd;
  padding: 0.5rem;
  border: 1px solid #0d6efd;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active {
  background-color: #0a58ca;
}