@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2e323c;
  background: #f5f6fa;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color:#7cbefe;
  cursor: pointer;
  padding: 0.5rem;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}